// ---------------------------------------------------------------------------
// Sass/Compass/Major Imports

@import "compass";
@import "susy";
@import "mixins";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 0;

$show-grid-backgrounds: true;
$container-style: magic;
$container-width: 100%;

// ---------------------------------------------------------------------------
// RESET && DEFAULTS

img {
	width: 100%;
}

textarea {
	width: 100% !important;
}

body {
	margin: 0;
	padding: 0;
}

.element-invisible { display: none; }

.homepage-textfield { display: none; }

// ---------------------------------------------------------------------------
// COLORS 

$red       : #97080E;
$orange    : #EE6D0C;
$gold      : #FDC938;
$green     : #488C13;
$blue      : #3443A6;
$purple    : #69245C;

$fakeblack : #231F20;

// ---------------------------------------------------------------------------
// BREAKPOINTS & TWEAKPOINTS

$small		: 0px 12 650px;
$medium		: 651px 12 960px;
$norm		  : 961px 12 1024px;
$large		: 1025px 12 1280px;
$oversize	: 1281px 12;

$small-screens  : 0px 12 960px;
$big-screens    : 961px 12;

// ---------------------------------------------------------------------------
// FOR SCREEN READERS
.invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

.focusable {
	&:active {
		position: static !important;
		clip: auto;
	}
	&:focus {
		position: static !important;
		clip: auto;
	}
}

// ---------------------------------------------------------------------------
// FADE IN FROM EMBER THEME (DRUPAL)

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .3s;
  -moz-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

// ---------------------------------------------------------------------------
// SECTION SASSIN'

@import "typography";
@import "admin-headers";
@import "page-globals";
@import "section-styles";

// REMOVE WHEN DONE THEMING
/*@include at-breakpoint($small) {
  html:before {
    display: block;
    content: "small";
  }
}
@include at-breakpoint($medium) {
  html:before {
    display: block;
    content: "medium";
  }
}
@include at-breakpoint($norm) {
  html:before {
    display: block;
    content: "normal";
  }
}
@include at-breakpoint($large) {
  html:before {
    display: block;
    content: "large";
  }
}
@include at-breakpoint($oversize) {
  html:before {
    display: block;
    content: "oversize";
  }
}*/