// ---------------------------------------------------------------------------
// Sass/Compass/Major Imports

@import "compass";
@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 1em;

$show-grid-backgrounds: true;
$container-style: magic;
$container-width: 100%;

// ---------------------------------------------------------------------------
// RESET && DEFAULTS

img {
	width: 100%;
}

textarea {
	width: 100% !important;
}

body {
	margin: 0;
	padding: 0;
}

// ---------------------------------------------------------------------------
// COLORS 

//$red 	: #CE170A; //ce170a //CF2202
//$blue	: #123354;
//$gold	: #FFB700;

$red 	: #B71100;
$ltblue	: #5589C3;
$blue	: #1C3D5C;

// ---------------------------------------------------------------------------
// BREAKPOINTS & TWEAKPOINTS

$small		: 0px 12 650px;
$medium		: 650px 12 960px;
$norm		: 960px 12 1024px;
$large		: 1024px 12 1280px;
$oversize	: 1280px 12;

// ---------------------------------------------------------------------------
// FOR SCREEN READERS
.invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

.focusable {
	&:active {
		position: static !important;
		clip: auto;
	}
	&:focus {
		position: static !important;
		clip: auto;
	}
}

// ---------------------------------------------------------------------------
// SECTION SASSIN'

@import "typography";
@import "admin-headers";
@import "page-globals";

@import "blog-page";
@import "breakpoints";