@include at-breakpoint($smartphone) { //0-480
	#site-navigation {
		width: columns(12,12);
		margin: 0 auto;
	}
	.subpage {
		#main {
			width: 100%;
			float: none;
		}
		#section-menu {
			width: 100%;
			float: none;
		}
		@include pie-clearfix;
	}
}

@include at-breakpoint($small-tablet) { //480-600
	#site-navigation {

	}
	.subpage {
		#main {
			width: 100%;
			float: none;
		}
		#section-menu {
			width: 100%;
			float: none;
		}
		@include pie-clearfix;
	}
}

@include at-breakpoint($tablet) { //600-800
	#site-navigation {

	}
	.subpage {
		#main {
			width: 100%;
			float: none;
		}
		#section-menu {
			width: 100%;
			float: none;
		}
		@include pie-clearfix;
	}
}