// ---------------------------------------------------------------------------
// HELPER FUNCTION FOR DECLARING UNEVEN BORDER RADIUS
@mixin randomize-borders($topR,$topL,$bottomR,$bottomL) {
  @include border-top-right-radius($topR);
  @include border-top-left-radius($topL);
  @include border-bottom-left-radius($bottomL);
  @include border-bottom-right-radius($bottomR);
}

// ---------------------------------------------------------------------------
// HELPER FUNCTION FOR SKEWING + ROTATING ITEM
@mixin nav-skew($skew,$rotate) {
  transform: skew($skew) rotate($rotate);
  -webkit-transform: skew($skew) rotat($rotate);
  -moz-transform: skew($skew) rotate($rotate);
}

// ---------------------------------------------------------------------------
// REPEATED CODE TIDBIT FOR USING ICON FONT
@mixin set-icon-font {
	font-family: 'nerdery';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
}