html {
	height: 100%;
	background-image: url('../img/background.gif');
}

#page {
	@include container;
	@include susy-grid-background;
	@include pie-clearfix;
	position: relative;
}

#left {
	background-color: pink;
}

#branding {
	img {
		display: block;
	}
	h1 { display: none; }
}

footer {
	display: block;
}

@include at-breakpoint($small) {
	#left {
		width: columns(12,12);
	}
	#branding {
		img {
			width: 100%;
			max-width: 400px;
			margin: 0 auto;
		}
	}
}
@include at-breakpoint($medium) {
	#left {
		width: columns(12,12);
	}
	#branding {
		img {
			width: 100%;
			max-width: 450px;
			margin: 0 auto;
		}
	}
}
@include at-breakpoint($norm) {
	#left {
		width: columns(3.5,12);
		position: fixed;
		top: 0;
		bottom: 0;
		z-index: 10;
	}	
	#branding {
		img {
			width: 100%;
			max-width: 450px;
			margin: 0 auto;
		}
	}
	#main {
		margin-left: columns(3.5,12);
		padding-left: $gutter-width;
	}
	footer {
		position: fixed;
		bottom: 0;
		left: 0;
		width: columns(3.5,12);
		padding: 10px;
		height: 100px;
		background-color: green;
		z-index: 20;
	}
}
@include at-breakpoint($large) {
	#left {
		width: columns(3.5,12);
		position: fixed;
		top: 0;
		bottom: 0;
		z-index: 10;
	}
	#branding {
		img {
			width: 100%;
			max-width: 450px;
			margin: 0 auto;
		}
	}
	#main {
		margin-left: columns(3.5,12);
		padding-left: $gutter-width;
	}
	footer {
		position: fixed;
		bottom: 0;
		left: 0;
		width: columns(3.5,12);
		padding: 10px;
		height: 100px;
		background-color: green;
		z-index: 20;
	}
}
@include at-breakpoint($oversize) {
	#left {
		width: columns(3.5,12);
		position: fixed;
		top: 0;
		bottom: 0;
		z-index: 10;
	}
	#branding {
		img {
			width: 100%;
			max-width: 531px;
			margin: 0 auto;
		}
	}
	#main {
		margin-left: columns(3.5,12);
		padding-left: $gutter-width;
	}
	footer {
		position: fixed;
		bottom: 0;
		left: 0;
		width: columns(3.5,12);
		padding: 10px;
		height: 100px;
		background-color: green;
		z-index: 20;
	}
}