html {
	height: 100%;
	background-image: url('../img/background.gif');
}

body {
	height: 100%;
	min-height: 100%;
}

#page {
	@include container;
	//@include susy-grid-background;
	@include pie-clearfix;
	position: relative;
	height: 100%;
	min-height: 100%;
	width: 100%;
}

#main {

}

#left {
	opacity: 0.8;
	//@include susy-grid-background;
}

#branding {
	img {
		display: block;
	}
	h1 { display: none; }
}

#site-navigation {
	li {
		a {
			&:before {
				@include set-icon-font;
			}
			&:after {
				@include set-icon-font;
			}
		}
	}
}

footer {
	display: block;
	text-align: center;
}
@include at-breakpoint($small-screens) {
	#page {
		//@include susy-grid-background;
		//overflow: auto;
	}
	#branding {
		width: 55px;
		height: 55px; //closed that preemptively sigh
		background-color: $gold;
		img.large { display: none; }
		img.small {
			display: block;
		}
	}
	#left {
		width: 55px;
		position: fixed;
		top: 0;
		bottom: 0;
		z-index: 10;
		background-color: transparent;
	}
	#site-navigation {
		ul.menu {
			display: block;
		}
		li {
			display: table;
			width: 55px;
			height: 55px;
			$slug: 10%;
			@for $i from 1 through 6 {
				&:nth-child(#{$i}) a {
					background-color: tint($gold,$slug);
					$slug: $slug + 10%;
				}
			}
			&:nth-child(2) a {
				padding: 0px 13px;
				-ms-word-break: break-all;
					word-break: break-all;
					word-break: break-word;
				-webkit-hyphens: auto;
					 -moz-hyphens: auto;
					 			hyphens: auto;
			}
		}
		a {
			display: table-cell;
			vertical-align: middle;
			width: 55px;
			text-align: center;
			font-size: 11px;
			line-height: 11px;
			text-transform: uppercase;
			&:hover {
				background-color: green;
			}
		}
	} 
	#main {
		margin-left: 65px;
		margin-right: 10px;
	}
	footer {
		margin-left: 65px;
		margin-right: 10px;
	}
}
@include at-breakpoint($big-screens) {
	#left {
		width: columns(3.5,12);
		position: fixed;
		top: 0;
		bottom: 0;
		z-index: 10;
		background-image: url('../img/shop-img-1.jpg');
		background-repeat: no-repeat;
		background-position: center 45%;
	}
	#branding {
		img.small { display: none; }
		img {
			width: 100%;
			max-width: 531px;
			margin: 0 auto;
		}
	}
	#site-navigation {
		a {
			display: block;
			padding: 10px 15px;
			font-family: $body-font;
			color: #FFF;
			text-align: center;
		}
		ul.menu {
			text-align: center;
		}
		li {
			
		}
		li:nth-child(1) {
			display: block;
			width: columns(8,12);
			margin: 10px auto 40px;
			a {
				font-size: 2em;
				line-height: 1.5em;
				background-image: url('../img/white-low-opacity.png');
				color: shade($purple, 5%);
				font-family: $header-font;
				letter-spacing: 0.0025em;
				@include text-shadow(shade(#FFFFFF, 10%) 1px 1px 0);
				position: relative;
				-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3), 0 0 20px rgba(0,0,0,0.1) inset;
				-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3), 0 0 20px rgba(0,0,0,0.1) inset;
				box-shadow: 0 1px 2px rgba(0,0,0,0.3), 0 0 20px rgba(0,0,0,0.1) inset;
				&:hover {
					background-image: none;
					background-color: #fff;
					color: $purple;
					opacity: 0.8;
					@include text-shadow(shade(#FFFFFF, 10%) 1px 1px 0);
				}
			}
		}
		li:nth-child(n+2) {
			text-align: center;
			display: inline-block;
			margin-bottom: 10px;
			margin-right: 10px;
			a {
				color: shade(#FFF, 1%);
				font-size: 1.45em;
				line-height: 1.2em;
				letter-spacing: 0.05em;
				font-weight: $heavy;
				background-image: url('../img/black-low-opacity.png');
				@include text-shadow(tint($fakeblack, 15%) 0px 0px 3px);
				&:hover {
					opacity: 0.8;
					background-image: none;
					background-color: $fakeblack;
					color: #FFF;
					@include text-shadow(#000 0px 0px 3px);
				}
			}
		}
	}
	#main {
		margin-left: columns(3.5,12);
		padding-left: $gutter-width;
	}
	footer {
		margin-left: columns(3.5,12);
		padding-left: $gutter-width;
	}
}
@include at-breakpoint($small) {

}
@include at-breakpoint($medium) {

}
@include at-breakpoint($norm) {
	#site-navigation {
		li:nth-child(1) {
			a {
				font-size: 1.5em;
			}
		}
		li:nth-child(n+2) {
			a {
				font-size: 1.25em;
			}
		}
	}
}
@include at-breakpoint($large) {
	#site-navigation {
		li:nth-child(1) {
			a {
				font-size: 1.7em;
			}
		}
		li:nth-child(n+2) {
			a {
				font-size: 1.35em;
			}
		}
	}
}
@include at-breakpoint($oversize) {

}