.section {
	//h1.page-title { display: none; }
}

.content-footer {
	a {
		text-transform: capitalize;
	}
}

#blog-tags {
	a {
		text-transform: capitalize;
	}
}

@include at-breakpoint($small) {

}
@include at-breakpoint($medium) {
	
}
@include at-breakpoint($norm) {

}
@include at-breakpoint($large) {

}
@include at-breakpoint($oversize) {

}