// ---------------------------------------------------------------------------
// BASE SETTINGS

$base-font-size: 16px;
$base-line-height: 1.25em;

// ---------------------------------------------------------------------------
// FONT VARS

$header-font	: "franklin-gothic-urw", Franklin Gothic, ITC Franklin Gothic, Arial, sans-serif;
$body-font		: "franklin-gothic-urw", Franklin Gothic, ITC Franklin Gothic, Arial, sans-serif;
$menu-font		: "cubano-sharp", Arial, sans-serif;

$normal	: 400;
$demi	: 700;
$heavy: 900;

// ---------------------------------------------------------------------------
// HEADERS

@mixin h1-style($size,$height) {
	font-family: $header-font;
	font-size: $size;
	line-height: $height;
	font-weight: $heavy;
}
@mixin h2-style($size,$height) {
	font-family: $header-font;
	font-size: $size;
	line-height: $height;
	font-weight: $demi;
}
@mixin h3-style($size,$height) {
	font-family: $body-font;
	font-size: $size;
	line-height: $height;
	font-weight: $demi;
	font-style: italic;
}

@include at-breakpoint($small) {

}
@include at-breakpoint($medium) {
	
}
@include at-breakpoint($normal) {
	
}
@include at-breakpoint($large) {
	h1 { @include h1-style(3em,1.25em); }
	h2 { @include h2-style(2.25em,1.25em); }
}
@include at-breakpoint($oversize) {
	h1 { @include h1-style(3em,1.25em); }
	h2 { @include h2-style(2.25em,1.25em); }
}


// ---------------------------------------------------------------------------
// STYLES

body {
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-family: $body-font;
}

p {
	display: block;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
}

small {
	font-size: 0.75em;
	line-height: 0.8em;
}

// ---------------------------------------------------------------------------
// ICONS

@font-face {
	font-family: 'nerdery';
	src: url('../icons/nerdery.eot?') format('eot'), url('../icons/nerdery.woff') format('woff'), url('../icons/nerdery.ttf') format('truetype'), url('../icons/nerdery.svg#nerdery') format('svg');
}

$home-icon	: "\e600";
$img-icon	: "\e601";
$imgs-icon	: "\e602";
$shop-icon	: "\e603";
$exit-icon	: "\e604";
$arrow-up	: "\e605";
$arrow-right: "\e606";
$arrow-down	: "\e607";
$arrow-left : "\e608";